@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	overflow: hidden;
}

/* Animation classes for specific use case */
.custom-pulse:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulseAndShadow 2s infinite;
}

/* Font imports */
@font-face {
	font-family: 'Oxanium';
	src: url(./fonts/oxanium/Oxanium-Light.ttf);
}

@font-face {
	font-family: 'Oxanium-Bold';
	src: url(./fonts/oxanium/Oxanium-Bold.ttf);
}

@keyframes pulseAndShadow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
		opacity: 1;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
		opacity: 0.7;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		opacity: 1;
	}
}